
<div class="container mt-4">
    <h5>mon compte</h5>
    <hr />
    <div class="">
        <div class="card mb-4">
            <div class="card-header">
                <h6>Information personnelles <span class="pull-right"><button class="btn btn-" (click)="modifier()"><i
                                class="fa fa-edit"></i></button></span></h6>
            </div>
            <div class="card-body">
                <div>
                    <strong>{{utilisateur.nom}}</strong>
                </div>
                <div><small>{{utilisateur.email}}</small>
                </div>
                <div><small>{{utilisateur.adresse}}</small>
                </div>
                <div><small>{{utilisateur.telephone}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered w-100">
        <div class="modal-content">
            <div class="modal-header " style="background: #198754;color: white;">
                <h5 class="modal-title" id="exampleModalLabel">modifier mes informations</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="">
                        <form [formGroup]="formGroup" (ngSubmit)="submit()">
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Nom</label>
                                    <input type="text" class="form-control" formControlName="nom" name="nom">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Prenom</label>
                                    <input type="text" class="form-control" formControlName="prenom" name="prenom">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Adresse</label>
                                    <input type="text" class="form-control" formControlName="adresse" name="adresse">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Telephone</label>
                                    <input type="text" class="form-control" formControlName="telephone"
                                        [ngClass]="errorTelephone?'is-invalid':''" name="telephone" maxlength="9"
                                        id="champsTelephone">
                                    <div class="text-danger" *ngIf="errorTelephone">
                                        ce numero de telephone est deja utilisé
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="formGroup.invalid && formGroup.controls.telephone.errors?.erreurTelephone">
                                        le format du numéro de téléphone est invalide
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" [ngClass]="errorEmail?'is-invalid':''" class="form-control"
                                    formControlName="email" name="email">
                                <div class="text-danger" *ngIf="errorEmail">
                                    ce email est deja utilisé
                                </div>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" type="submit" class="btn btn-primary"
                                    [disabled]="formGroup.invalid">Enregistrer</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>