<section class="section-main bg padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-4">
                <nav class="card">
                    <ul class="menu-category">
                        <li><a>Vaches</a></li>
                        <li><a>Taureaux</a></li>
                        <li><a href="#">Génisses</a></li>

                    </ul>
                </nav>
            </aside> <!-- col.// -->
            <div class="col-md-8">
                <div class="course">
                    <div class="course-preview">
                        <h6>Lait</h6>
                        <h2>DISPONIBLE</h2>
                        <h6>{{s - v }} litres</h6>
                    </div>
                    <div class="course-info">
                        <form [formGroup]="formGroup" (ngSubmit)="submit()">
                            <input type="number" class="form-control  mb-5" formControlName="quantite"
                                placeholder="Quantité à commander">
                            <div class="text-danger"
                                *ngIf="submitErr && formGroup.invalid && formGroup.controls.quantite.errors?.required">
                                le champs quantite est obligatoire
                            </div>
                            <div class="text-danger"
                                *ngIf="formGroup.invalid && formGroup.controls.quantite.errors?.errorMp">
                               Quantité non disponible
                            </div>
                            <button type="submit" class="btn1 btn-primary">Commander</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2 alert alert-success alert-dismissible fade show"  *ngIf="succes" role="alert">
        <strong> bovin ajouter avec succes au panier</strong>
        <button class="close" type="button" data-dismiss="alert" aria-label="close">
         <span aria-hidden="">&times;</span>
        </button>
     </div>
</section>

<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <h3 class="section-title">Bovins</h3>
            
            <i class="fas fa-spinner fa-pulse" *ngIf="isLoading"></i>
        </header><!-- sect-heading -->
        <div *ngIf="bovins?.length !=0">
            <div class="row">
                <div  class="col-md-3" *ngFor="let m of bovins;let i=index ">
                    <div  class="card card-product-grid">
                        <a class="img-wrap"> <img src="../../../assets/images/bovin/{{i+1}}.jpg"> </a>
                        <figcaption class="info-wrap">
                            <strong>Nom: {{m.nom}} <span class="float-right">{{m.description}}</span></strong>
                            <div class="price mt-1">Race: {{m.nomRace}} <span class="float-right">{{ m.prix + ' F
                                    cfa'}}</span></div> <!-- price-wrap.// -->
                            <button class="btn btn-primary" type="submit" (click)="ajouterPanier(m)">Ajouter
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            </div>
        </div>
        <div *ngIf="bovins?.length ==0">
            <div class="card justify-content-center text-center card-deco mb-5">
                <div class="bg-danger text-center mt-4 mb-4"
                    style="border-radius:100px; margin: auto; width: 150px;height: 150px;">
                    <img class="h-100 w-100" src="../../../assets/images/chariot.jpg" style="" />
                </div>
                <strong class="">Aucun bovin n'est en vente</strong>
            </div>
        </div>
        <!-- row.// -->

    </div><!-- container // -->
</section>