<div class="container mt-4">
     <div class="row mb-4">
        <div class="card col-md-7 col-lg-8 justify-content-center card-deco" *ngIf="panier?.length!=0">
            <div class="container row">
                <h5 class="mt-4">Panier </h5>
                <hr />
                <i class="fas fa-spinner fa-pulse" *ngIf="isLoading"></i>
                <div class="card card-deco w-100 mb-5" *ngFor="let p of panier">
                    <div class="row container m-4" style="align-items:center;">
                        <div class="col-md-2">
                            <img class="h-100 w-100" src="../../../assets/images/chariot.jpg" style="" />
                        </div>
                        <div class="col-md-5 text-center">
                            <strong>{{p.nom}}</strong>
                            <strong class="float-right">{{p.race}}</strong>
                        </div>
                        <div class="col-md-5 mt-3">
                            <strong>{{p.prix}} F cfa</strong>
                            <button type="button" class="btn btn-danger float-right mr-2" (click)="supprimer(p)" >
                                <i class="fa fa-trash-alt mr-1"></i> <strong>supprimer</strong>
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
           
        </div>

        <div class="col-md-5 col-lg-4" *ngIf="panier?.length!=0">
            <div class="card card-deco">
                <div class="card-body">
                    <h6>Resumé du panier</h6>
                    <hr />
                    Cout commande <strong class="float-right"> {{somme}} F cfa</strong>
                    <hr />
                </div>
                <a class="btn btn-success mb-4 ml-4 mr-4 " routerLink="/client/finaliser"><strong>Commander</strong></a>
            </div>

        </div>

        <div class="card justify-content-center col-md-7 col-lg-8 text-center card-deco mb-5" *ngIf="panier?.length==0" style="margin: auto;">
            <div class="bg-danger text-center mt-4 mb-4"
                style="border-radius:100px; margin: auto; width: 150px;height: 150px;">
                <img class="h-100 w-100" src="../../../assets/images/chariot.jpg" style="" />
            </div>
            <strong class="">Votre panier est vide</strong>
            <p class="m-2">
                Parcourez nous produits et decouvrez nos meilleurs offres
            </p>
            <div class="m-4">
                <a class="btn btn-success" routerLink="/client">Commencez vos achats</a>
            </div>
        </div>
       
    </div> 
   
</div>