<div class="container  mb-5">
    <div class="text-center " style="border-radius:100px; margin: auto; width: 150px;height: 150px;">
        <img class="h-100 w-100" src="../../../assets/images/logos/kossamb.jpg" style="" />
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Prenom</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Prenom">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Nom</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Nom">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Adresse email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Adresse</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Adresse">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Telephone</label>
                <input type="number" class="form-control" id="inputCity" placeholder="Numero de telephone">
            </div>
            <div class="form-group col-md-3">
                <label for="inputzip">Mot de passe</label>
                <input type="password" class="form-control" id="inputCity" placeholder="Mot de passe">
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">Confirmer</label>
                <input type="password" class="form-control" id="inputZip" placeholder="Confirmer mot de passe">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Inscription</button>
    </form>
</div>