<div class="container mt-4">
    <div class="row justify-content-center">

        <div style="margin-top: 50px;" class="col-md-5 text-center">

            <img height="500" width="500" src="../../../assets/images/logos/kossamb.jpg" />

        </div>
        <div class="col-md-6" style="margin-top: 100px;">
            <div class="card">
                <div class="card-body mt-4">
                    <h3 class="text-center">Authentification</h3>
                    <hr />
                    <form method="POST" action="#" class="mt-4 ml-4 mr-4 mb-4" [formGroup]="formGroup"
                        (ngSubmit)="submit()">
                        <div class="form-group row mb-4">
                            <div class="col-md-12">
                                <input id="login" type="email" class="form-control" name="login" formControlName="login"
                                    required autocomplete="login" placeholder="entrez votre login"
                                    [ngClass]="isAuth?'is-invalid':''" autofocus>
                                <span class="invalid-feedback" role="alert" *ngIf="isAuth">
                                    <strong style="color: red;">login ou mot de passe incorrect</strong>
                                </span>
                               

                            </div>
                        </div>

                        <div class="form-group row mb-4">


                            <div class="col-md-12">
                                <input id="password" type="password" formControlName="motDePasse" value=""
                                    class="form-control " name="password" placeholder="entrez votre mot de passe"
                                    [ngClass]="isAuth?'is-invalid':''" required autocomplete="current-password">
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember">

                                    <label class="form-check-label" for="remember">
                                        Se souvenir de moi
                                    </label>
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-12">
                                    <strong style="color: red;"  *ngIf="erreur==true">{{errorM}}</strong>
                               
                                <button type="submit" class="btn btn-primary form-control"
                                    [disabled]="formGroup.invalid">
                                    {{ isLoading ?'connexion...': 'Se connecter'}}
                                   
                                    <i class="fas fa-spinner fa-pulse" *ngIf="isLoading"></i>
                                </button>
                                <p><a routerLink="/inscription" class="text-primary">Je n'ai pas de compte</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>